body {
	margin-top: 40px;
}

.navbar {
  min-height: 0px;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
  background-color: rgb(180, 200, 255);
  background-position: center;
  background-size: cover;
  font-family: 'McLaren', sans-serif;
  color: white;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
  border-bottom: 12px solid rgba(153, 255, 153, 1);
}

.jumbotron h1 {
  font-family: 'Lilita One', sans-serif;
  font-size: 8em;
  margin: 0px;
}

.jumbotron h2 {
  font-family: 'McLaren', sans-serif;
  font-size: 3em;
  margin: 0px;
}

.jumbotron #dog {
  position: relative;
  top: 45px;
}

.facebook {
  color: white;
  background-color: #3B5998;
  padding: 12px;
}

.yelp {
  color: white;
  background-color: #c41200;
  padding: 12px;
}


.flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flexible-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#navbar {
}

#splash {
}

#content {
}

blockquote {
	font-size: 14px;
}

#footer {
}

@media(max-width: 767px) {
  body {
    margin-top: 50px;
  }
	.navbar-text {
		margin-top: 10px;
		margin-bottom: 10px;
    margin-left: 15px;
	}
}

