/* http://paletton.com/#uid=5330-0kpXENfxPpl4J-wGB3-wqe */

body {
	background-color: #3274C2;
}

/* Navbar */
#navbar {
  width: 100%;
  background-color: #7CA9DF;
  z-index: 1;
	color: white;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	border-bottom: 4px solid #528BCF;
}

#navbar .navbar-collapse {
  background: none;
  padding: 0;
}

#navbar .navbar-collapse > ul > li {
  background: none;
  margin: 0;
}

#navbar .navbar-collapse > ul > li > a {
  background: none;
  border-radius: 0px;
  margin: 0px;
}

#navbar .navbar-collapse > ul > li > a:hover {
  background: none;
	color: #EBFC82;
}

#navbar .navbar-collapse > ul > li > a:focus {
  background: none;
  outline-style: none;
  box-shadow: none;
	color: #EBFC82;
}

#navbar .navbar-toggle {
  border-radius: 0px;
  margin: 0px;
}

#navbar .navbar-toggle:hover {
  background: none;
}

#navbar a {
	color: white;
	font-size: 1em;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Banner */
.flex {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.flex2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#banner {
	background-color: #3274C2;
	background-image: url('../img/photo7.jpg');
	background-size: cover;
	background-position: center;
	border-bottom: 4px solid #528BCF;
}

#banner h1 {
	font-family: 'Lilita One', sans-serif;
	font-size: 6em;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	color: white;
	margin: 0px;
	margin-top: 12px;
}

#banner h2 {
	font-family: 'Fredoka One', sans-serif;
	font-size: 3em;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	background-color: #de1e1e;
	border-radius: 200px;
	border: 0px solid white;
	color: white;
	margin: 0px 0px 12px 0px;
	padding: 0.2em;
}

#banner p {
	font-size: 1.5em;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	color: white;
}

#banner.jumbotron img {
	margin-top: -2em;
}

/* Sub-Banner */
#sub-banner {
	background-color: #7CA9DF;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 4px solid #528BCF;
	border-bottom: 4px solid #528BCF;
}

#sub-banner p {
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	color: white;
	margin: 0px;
}

/* Footer */
#footer {
	background-color: #7CA9DF;
	color: white;
}

#footer .contact-info {
	display: flex;
	min-height: 240px;
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	border-top: 4px solid #528BCF;
}

#footer .contact-info .map {
	padding: 0px;
	overflow: hidden;
	position: relative;
	height: 240px;
}

#footer .contact-info .map iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

#footer .contact-info p {
	font-size: 1.1em;
}

#footer .contact-info p.lead {
	padding: 12px;
	margin: 0px;
	font-size: 1.4em;
	font-weight: bold;
}

#footer .legal {
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #0A4489;
}

#footer .legal p {
	margin: 0px;
	color: white;
}

#footer .legal a {
	color: white;
	text-decoration: underline;
}

#navbar.headroom { transition: transform 0.15s ease; }
#navbar.headroom--pinned { transform: translateY(0%); }
#navbar.headroom--unpinned { transform: translateY(-100%); }

@media(max-width: 767px) {
	body {
	}

	#navbar button {
	}

	#navbar a {
	}

	#banner {
		background-image: none;
	}

	#banner h1 {
		font-size: 3em;
	}

	#banner h2 {
		font-size: 1.5em;
	}

	#banner p {
		font-size: 1em;
	}

	#footer .contact-info {
		display: inherit;
	}

	#footer .contact-info .map {
	}

  header.headroom { transition: none; }
  header.headroom--pinned { transform: none; }
  header.headroom--unpinned { transform: none; }
}