.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
	display: flex;
	align-items: center;
	margin-top: 1em;
	margin-bottom: 1em;
	border-style: solid;
	border-width: 1px 0px;
	border-color: white;
	min-height: 215px;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.content-title {
	font-family: 'Baloo Tamma', sans-serif;
	font-size: 3em;
}

.content-text {
	padding-left: 2rem;
	padding-right: 2rem;
	height: 100%;
}

#home-nav > li > a {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	white-space: nowrap;
}

#home-nav > li > a:focus,
#home-nav > li > a:hover {
	background-color: transparent;
}

.social {
	padding-top: 2rem; 
	padding-bottom: 2rem; 
	font-family: 'Baloo Tamma', sans-serif;
	font-size: 3em;
	text-align: center;
}

@media(max-width:767px) {
	.content-title,
	.social {
		font-size: 2em;
	}	
}

@media(min-width:768px) {
	.content-title,
	.social {
		font-size: 2.5em;
	}	
}

@media(min-width:992px) {
	.content-title,
	.social {
		font-size: 3em;
	}	
}
