body {
	padding-top: 50px;
	background-color: #F8F8F8;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	font-family: 'Lilita One', cursive;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
	height: 400px;
	background-image: url("../img/jumbotron.png");
	background-position: 50% 20%;
	background-size: cover;
}