{% extends "base.html" %}

{% block title %}
	About Us
{% endblock %}

{% block content_head %}
	<div id="about-us-header">
		<div class="row">
			<div class="col-xs-12">
				<h3>About Us</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-3">
			  <a href="our_services">First Time Clients</a>
			</div>
			<div class="col-sm-3">
				<a href="our_staff">What to Expect</a>
			</div>
			<div class="col-sm-3">
				<a href="http://companionanimalhospital25.vetsourcecms.com/" target="_blank">At Home Care</a>
			</div>
			<div class="col-sm-3">
				<a href="contact_us">Contact Us</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block content_body %}
	<div class="row">
		<div class="col-sm-12">
			<p>We are a full-service veterinary medical facility, located in Austin, Texas. Everyone at Companion Animal Hospital seeks to provide the best possible medical, surgical and dental care for our highly-valued patients.</p>
			<p>We are committed to promoting responsible pet ownership, preventative health care and health-related educational opportunities for our clients. Not only does Companion Animal Hospital strive to offer excellence in veterinary care, but we also strive to differentiate ourselves by providing our clientele with a holistic approach to medicinal practice.</p>
			<p>Please take a moment to contact us today to learn more about our veterinary practice and to find out more information about how Companion Animal Hospital can serve the needs of you and your cherished pet.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<blockquote class="blockquote">
			  <p>Companion is the best place to take your furry friends. The doctors and staff are all so wonderful and caring. It took me a long time to find them and they are never getting rid of us! I can't recommend them highly enough. Neither can Sal or Nico.</p>
			  <footer>Katie Jane Friedman</footer>
			</blockquote>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<blockquote class="blockquote">
			  <p>Excellent service. Friendly, efficient staff and reasonable prices in a comfortable atmosphere that is more "home" and less "clinic". Highly recommended.</p>
			  <footer>Ted Smith</footer>
			</blockquote>
		</div>
	</div>
{% endblock %}
