{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block scripts %}
<link href="/static/css/about_us.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content_body %}
<div class="row no-pad">
	<div class="col-sm-4">
		<div class="tile tile1">
			<p class="text-center content-title">About Us</p>
		</div>
	</div>
	<div class="col-sm-8">
		<div id="picture1" class="tile picture-tile">
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-4">
		<div id="picture2" class="tile picture-tile">
		</div>
	</div>
	<div class="col-sm-4">
		<div id="picture3" class="tile picture-tile">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile tile2">
			<p>We are a full-service veterinary medical facility, located in Austin, Texas.<br><br>Everyone at Companion Animal Hospital seeks to provide the best possible medical, surgical and dental care for our highly-valued patients.</p>
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-12">
		<div id="picture4" class="tile picture-tile">
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-8">
		<div class="tile tile3">
			<p>We are committed to promoting responsible pet ownership, preventative health care and health-related educational opportunities for our clients.<br><br>Not only does Companion Animal Hospital strive to offer excellence in veterinary care, but we also strive to differentiate ourselves by providing our clientele with a holistic approach to medicinal practice.</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div id="picture5" class="tile picture-tile">
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-4">
		<div class="tile tile1">
		<blockquote class="blockquote-reverse">
			  <p><em>"Companion is the best place to take your furry friends. The doctors and staff are all so wonderful and caring. It took me a long time to find them and they are never getting rid of us!"</em></p>
			  <footer>Katie Jane Friedman</footer>
			</blockquote>
		</div>
	</div>
	<div class="col-sm-4">
		<div id="picture6" class="tile picture-tile">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile tile2">
		<blockquote class="blockquote-reverse">
			  <p><em>"Excellent service. Friendly, efficient staff and reasonable prices in a comfortable atmosphere that is more "home" and less "clinic". Highly recommended."</em></p>
			  <footer>Ted Smith</footer>
			</blockquote>
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-12">
		<div class="tile tile3">
			<p class="text-center content-title">Give us a call today!<br>(512) 288-2713</p>
		</div>
	</div>
</div>
<div class="row no-pad">
	<div class="col-sm-4">
		<div class="tile facebook">
			<p class="text-center social-media"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i><br>Like us on Facebook!</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile yelp">
			<p class="text-center social-media"><i class="fa fa-yelp fa-4x" aria-hidden="true"></i><br>Rate us on Yelp!</p>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="tile email">
			<p class="text-center social-media"><i class="fa fa-envelope fa-4x" aria-hidden="true"></i><br>Have Questions?</p>
		</div>
	</div>
</div>
{% endblock %}
