{% extends "base.html" %}
{% set active_page = "contact_us" %}

{% block title %}
Contact Us
{% endblock %}

{% block jumbotron %}
<h1>Contact Us</h1>
{% endblock %}

{% block content_head %}
Contact Us
{% endblock %}

{% block content_body %}
<div class="row">
	<div class="col-sm-8">
		<div class="flexible-container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.0387092617693!2d-97.87901468553198!3d30.23597261645552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b497c847f901f%3A0xf84f100ca8137140!2sCompanion+Animal+Hospital!5e0!3m2!1sen!2sus!4v1469655236852" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-sm-4">
		<p class="lead">Schedule an Appointment</p>
		<p class="text-center">(512) 288-2713</p>

		<p class="lead">Hours of Operation</p>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Monday</p>
			</div>
			<div class="col-xs-6">
				<p>7AM - 6PM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Tuesday</p>
			</div>
			<div class="col-xs-6">
				<p>7AM - 6PM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Wednesday</p>
			</div>
			<div class="col-xs-6">
				<p>7AM - 6PM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Thursday</p>
			</div>
			<div class="col-xs-6">
				<p>7AM - 6PM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Friday</p>
			</div>
			<div class="col-xs-6">
				<p>7AM - 6PM</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Saturday</p>
			</div>
			<div class="col-xs-6">
				<p>8AM - 12PM<br><em>by appointment only</em></p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Sunday</p>
			</div>
			<div class="col-xs-6">
				<p>Closed</p>
			</div>
		</div>
		<p class="lead">After Hours Emergency Care</p>
		<p class="text-center">(512) 899-0955</p>
		<p class="lead">Like us on Facebook!</p>
		<p class="text-center"><a href="https://www.facebook.com/CompanionAHOakHill" target="_blank">Click here to visit our Facebook page</a></p>
	</div>
</div>
{% endblock %}
