{% extends "base.html" %}
{% set active_page = "our_services" %}

{% block title %}
Our Services
{% endblock %}

{% block content_title %}
Our Services
{% endblock %}

{% block content_body %}
<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Routine Services</div>
			<p>In addition to routine vaccinations, our annual exams also typically involve parasitic testing, nail trims and anal gland expression depending on your pet's individual needs.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Diagnostic and Therapeutic Services</div>
			<p>Our hospital and staff is fully-equipped to work on diagnosing your pet's ailment and developing appropriate therapeutic regimens.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Surgical Services</div>
			<p>From routine spays, neuters and dentals to more specialized procedures, we are fully  staffed and equipped to provide first class surgical care to our patients.</p>
		</div>
	</div>
</div>

<hr class="hidden-xs">

<div class="row">
	<div class="hidden-xs col-sm-12">
		<img class="center-block img-responsive shadow" src="/static/img/cropped/collage_1.jpg">
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Anesthesia</div>
			<p>We custom-tailor every anesthetic protocol to fit each patient's individualized needs, and we utilize state of the art surgical monitoring equipment to ensure that your loved one has the safest experience possible.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Radiology Services</div>
			<p>Our on-site, digital radiograph equipment provides high quality radiographs to facilitate a rapid and accurate diagnosis for many ailments.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Dentistry</div>
			<p>Our dental procedures include ultrasonic scaling, polishing, dental radiography, dental extractions, and minor oral surgery.</p>
		</div>
	</div>
</div>

<hr class="hidden-xs">

<div class="row">
	<div class="hidden-xs col-sm-12">
		<img class="center-block img-responsive shadow" src="/static/img/cropped/collage_2.jpg">
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Laser Therapy</div>
			<p>We are equipped with a state of the art class 4 laser that allows us to treat a variety of ailments without the use of pharmaceuticals. We're proud to be one of the few clinics in town to offer this service!</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Laboratory</div>
			<p>Our in-house laboratory allows us to provide serum chemistry, hematology, serology, urinalysis and parasite testing. In addition, we also utilize commercial veterinary laboratories for specialized diagnostics and consultations.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Pharmacy</div>
			<p>We maintain a complete inventory of pharmaceuticals, vitamins, supplements, shampoos, flea and tick control products and heartworm preventatives to meet the needs of your pet.</p>
		</div>
	</div>
</div>

<hr class="hidden-xs">

<div class="row">
	<div class="hidden-xs col-sm-12">
		<img class="center-block img-responsive shadow" src="/static/img/cropped/collage_3.jpg">
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Nutritional Counseling</div>
			<p>We're happy to provide guidance and recommendations regarding your pet's nutritional needs for every life stage. Additionally, we carry a full line of prescription diets, a popular grain free diet, and a whole food nutritional supplement so that we're able to best meet the needs of each and every patient.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Permanent Identification</div>
			<p>We offer microchip placement and identification services using the Home AgainTM identification system.</p>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<div class="content-text">
			<div class="content-title">Boarding</div>
			<p>We have a fully equipped kennel, devoted kennel staff, and a secure yard so that we can provide excellent boarding services to our clients.</p>
		</div>
	</div>
</div>
{% endblock %}
