{% extends "base.html" %}

{% block title %}
  Our Services
{% endblock %}

{% block jumbotron %}
  <h1>Our Services</h1>
{% endblock %}

{% block content_title %}
  Our Services
{% endblock %}

{% block content_body %}
  <h4>Routine Services</h4>
  <p>In addition to routine vaccinations, our annual exams also typically involve parasitic testing, nail trims and anal gland expression depending on your pet's individual needs.</p>
  <br>

  <h4>Diagnostic and Therapeutic Services</h4>
  <p>Our hospital and staff is fully-equipped to work on diagnosing your pet's ailment and developing appropriate therapeutic regimens.</p>
  <br>

  <h4>Surgical Services</h4>
  <p>From routine spays, neuters and dentals to more specialized procedures, we are fully  staffed and equipped to provide first class surgical care to our patients.</p>
  <br>

  <h4>Anesthesia</h4>
  <p>We custom-tailor every anesthetic protocol to fit each patient's individualized needs, and we utilize state of the art surgical monitoring equipment to ensure that your loved one has the safest experience possible.</p>
  <br>

  <h4>Radiology Services</h4>
  <p>Our on-site, digital radiograph equipment provides high quality radiographs to facilitate a rapid and accurate diagnosis for many ailments.</p>
  <br>

  <h4>Dentistry</h4>
  <p>Our dental procedures include ultrasonic scaling, polishing, dental radiography, dental extractions, and minor oral surgery.</p>
  <br>

  <h4>Laser Therapy</h4>
  <p>We are equipped with a state of the art class 4 laser that allows us to treat a variety of ailments without the use of pharmaceuticals. We're proud to be one of the few clinics in town to offer this service!</p>
  <br>

  <h4>Laboratory</h4>
  <p>Our in-house laboratory allows us to provide serum chemistry, hematology, serology, urinalysis and parasite testing. In addition, we also utilize commercial veterinary laboratories for specialized diagnostics and consultations.</p>
  <br>

  <h4>Pharmacy</h4>
  <p>We maintain a complete inventory of pharmaceuticals, vitamins, supplements, shampoos, flea and tick control products and heartworm preventatives to meet the needs of your pet.</p>
  <br>

  <h4>Nutritional Counseling</h4>
  <p>We're happy to provide guidance and recommendations regarding your pet's nutritional needs for every life stage. Additionally, we carry a full line of prescription diets, a popular grain free diet, and a whole food nutritional supplement so that we're able to best meet the needs of each and every patient.</p>
  <br>

  <h4>Permanent Identification</h4>
  <p>We offer microchip placement and identification services using the Home AgainTM identification system.</p>
  <br>

  <h4>Boarding</h4>
  <p>We have a fully equipped kennel, devoted kennel staff, and a secure yard so that we can provide excellent boarding services to our clients.</p>
{% endblock %}
