{% extends "base.html" %}
{% set active_page = "our_staff" %}

{% block title %}
  Our Staff
{% endblock %}

{% block jumbotron %}
  <h1>Our Staff</h1>
{% endblock %}

{% block content_title %}
  Our Staff
{% endblock %}

{% block content_body %}
<div class="row no-gutters">
  <div class="col-xs-12 col-sm-5">
    <img class="img-responsive center-block shadow" src="static/img/cropped/leary.jpg">
  </div>
  <div class="col-xs-12 col-sm-7">
    <div class="content-text">
      <div class="content-title">Dr. Margaret Leary</div>
      <p>
        Dr. Leary, the clinic owner, completed her undergraduate studies at The University of Texas at Austin. She went on to pursue her Veterinary degree at Texas A&amp;M University, and returned to Austin develop a client base that has lasted for over 20 years! She employs a holistic approach to medicine and enjoys doing laser therapy treatments on her equine patients in her free time. She also enjoys horseback riding and spending quality time at home with her 5 dogs, cats and brood of chickens.
      </p>
    </div>
  </div>
</div>
<hr>
<div class="row no-gutters">
  <div class="col-xs-12 col-sm-5 col-sm-push-7">
    <img class="img-responsive center-block shadow" src="static/img/cropped/brown.jpg">
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-pull-5">
    <div class="content-text">
      <div class="content-title">Dr. Jorga Brown</div>
      <p>
        Dr. Brown served in the Air Force prior to getting her Veterinary degree at Texas A&amp;M. She grew up in Germany, where she developed her love for cheese and strong coffee. She has been performing surgery and seeing patients in Austin for over 22 years. She serves as the clinic’s primary surgeon, and strives to provide flawless care for your furry companions. In the rare instance she takes time off from work, you might find her knocking over some pins at her favorite bowling alley.
      </p>
    </div>
  </div>
</div>
{% endblock %}
