{% extends "base.html" %}

{% block title %}
  Our Staff
{% endblock %}

{% block jumbotron %}
  <h1>Our Staff</h1>
{% endblock %}

{% block content_title %}
  Our Staff
{% endblock %}

{% block content_body %}
  <div class="staff">
    <div class="row">
      <div class="col-xs-12">
        <img class="img-circle img-responsive center-block" src="static/img/staff_portrait.jpg">
        <p class="text-center lead">Dr. Margaret Leary</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Dr. Leary, the clinic owner, completed her undergraduate studies at The University of Texas at Austin. She went on to pursue her Veterinary degree at Texas A&amp;M University, and returned to Austin develop a client base that has lasted for over 20 years! She employs a holistic approach to medicine and enjoys doing laser therapy treatments on her equine patients in her free time. She also enjoys horseback riding and spending quality time at home with her 5 dogs, cats and brood of chickens.</p>
      </div>
    </div>
  </div>

  <div class="staff">
    <div class="row">
      <div class="col-xs-12">
        <img class="img-circle img-responsive center-block" src="static/img/staff_portrait.jpg">
        <p class="text-center lead">Dr. Jorga Brown</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Dr. Brown served in the Air Force prior to getting her Veterinary degree at Texas A&amp;M. She grew up in Germany, where she developed her love for cheese and strong coffee. She has been performing surgery and seeing patients in Austin for over 22 years. She serves as the clinic’s primary surgeon, and strives to provide flawless care for your furry companions. In the rare instance she takes time off from work, you might find her knocking over some pins at her favorite bowling alley.</p>
      </div>
    </div>
  </div>

  <div class="staff">
    <div class="row">
      <div class="col-xs-12">
        <img class="img-circle img-responsive center-block" src="static/img/staff_portrait.jpg">
        <p class="text-center lead">Dr. Mallory Carpenter</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Dr. Mallory Carpenter completed both her bachelor and professional degrees from Texas A&amp;M University, graduating as a DVM in 2014. She is originally from Sugar Land, TX and recently moved to Austin with her husband, Brian, and two Black Mouth Cur dogs, Jerry and Bella. She enjoys spending time with friends and family, reading, watching movies, and outdoor activities. Dr. Carpenter is interested in all aspects of veterinary medicine, especially preventative medicine, internal medicine, and surgery.</p>
      </div>
    </div>
  </div>
{% endblock %}
